<Page class="page">
    <Page.actionBar>
        <ActionBar class="action-bar" [title]="item.meta.title">
        </ActionBar>
    </Page.actionBar>
</Page>
<StackLayout orientation="vertical">
    <Label [text]="item.meta.title" class="list-group-item title" [textWrap]="true"></Label>
    <Image src="{{item.meta.imageUrl}}" height="100" stretch="aspectFill"></Image>
    <Label [text]="item.meta.description" class="list-group-item description" [textWrap]="true"></Label>
    <Button text="Open the content" class="btn btn-primary btn-rounded-lg"></Button>
</StackLayout>
